.footer__list {
    margin-bottom: 30px;
}

.footer__item {
    padding-left: 15px;
    margin-bottom: 5px;
}

.footer__item:last-of-type {
    margin-bottom: 0;
}

.footer__item:before {
    content: "—";
    position: relative;
    left: -5px;
}

.footer__text {
    padding-left: 15px;
}