:root {
    position: relative;
    overflow-x: hidden;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    position: relative;
    overflow-x: hidden;
    min-width: 320px;
    min-height: 100vh;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000;
    background-color: #fff;
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

svg {
    max-height: 100%;
}

button {
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ol {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
    margin: 0;
}

iframe {
    border: none;
}

blockquote {
    padding: 0;
    margin: 0;
}

/*
  Доступно скрываю элементы
  */

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.container {
    max-width: 1140px;
    padding: 0 30px;
    margin: 0 auto;
}

.container2 {
    max-width: 1200px;
    padding: 25px 30px;
    margin: 0 auto;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.section {
    padding: 50px 0;
}

.subtitle {
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 30px;
    padding-left: 15px;
}

.text:not(:last-of-type) {
    padding-bottom: 30px;
}