.section2__block {
    margin-bottom: 30px;
    border: 1px solid #000;
}

.section2__img-block {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section2__text-block {
    color: #5e5e5e;
    margin-bottom: 15px;
    padding-left: 15px;
}